{% extends 'base.html' %}
{% load static %}
{% block Title %} About {% endblock Title %}

{% block body %}
<section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <h3 class="column-title">Who We Are</h3>
            <p>Tetra Tech was established in 2003 with one window service concept. Today, Tetra Tech is leading industrial services company covering Middle East , African & Asian countries 
              that specifically includes Pakistan and having plans to expand the horizons in Afghanistan and Iran region in the field of Supply of materials , installation, commissioning, 
              testing and startup operations of small, medium and large scale dairy, beverages, water, food, confectionery, cosmetic and pharmaceutical industries.</p>
            <blockquote><p>One Shop Stop Concept</p></blockquote>
            <p>
              Tetra Tech has been recognized as reliable source by our valuable as well as potential customers, for ensuring their business success in delivering world class products 
              at most competitive price with best quality and reliability. Tetra Tech products, solution and services are inevitable for the success of our esteemed customers Our 
              Expertise has been refined over 20 years of experience in Food , Beverage, Chemical, Water, Personal Care & Pharmaceutical Industry which adds to our competitiveness.Our 
              objective of being competitive and market leader is by providing best professional services, solutions and products available because” We Deliver, No Matter What”. 
              All services and solutions at One Window.
            </p>
  
          </div><!-- Col end -->
  
          <div class="col-lg-6 mt-4 mt-lg-0">
            <h3 class="into-sub-title">Our Goal</h3>

            <div class="accordion accordion-group" id="our-values-accordion">
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Safety
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#our-values-accordion">
                  <div class="card-body">
                    <div class="panel-body">
                      Tetra Tech’s vision firmly believes in quality and safety with high regard given to implementing
                      the following aspects:
                      <ul>
                        <li>Strict adherence to safety procedures during Installation and Operation.</li>
                        <li>Inducting Traceability and Operational Accountability in process design.</li>
                        <li>Quality certification of materials used according to International Standards.</li>
                        <li>Expert craftsmanship in compliance with the specific demands of industry.</li>
                        <li>Collaboration with only ISO Certified world class companies.</li>
                        <li>Addressing good manufacturing practices, design qualifications,
                          installation qualifications, operation qualifications and process
                          qualifications required by the industry.</li>
                        <li>Implementing Safety Hazard Control procedures according to HACCP.</li>
                        <li>Regular detailed training of staff on safety and quality.</li>
                        <li>Hiring Certified Welding and Fabricating staff,
                          who maintain a high level of hygiene during installation.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Our Mission
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#our-values-accordion">
                  <div class="card-body">
                    Tetra Tech is committed to provide customized, state of art and cost effective products and
                    engineering services to its valued customers.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Success
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                  data-parent="#our-values-accordion">
                  <div class="card-body">
                    We ensured our services and quality of work through professional, experienced and well trained
                    staff, complying with international standards and innovative pattern. We Endeavour to continually
                    improve process, product and services with special emphasis on quality, safety and customer
                    services. We get the job done first time, in the timeliest and cost effective approach, in the
                    fields of Project Management, Installation, Commissioning and process Engineering Services. Our
                    success is based upon the policy of utilizing our skills to complement, those of our clients
                    management team.
                  </div>
                </div>
              </div>
            </div>
            <!--/ Accordion end -->
          </div>
          
          <!-- Col end -->
      </div><!-- Content row end -->
  
    </div><!-- Container end -->
  </section><!-- Main container end -->
  
  

{% endblock body %}