{% extends 'basic.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'add_subcategory' %}" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Add Province</span></h5>
                        </div>
                       {% include 'messages.html' %}

                       <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Category</label>
                            <select class="form-control" name="CategoryID" required>
                                <option>Select Category</option>
                                {% for cat in category %}
                                <option value="{{cat.CategoryID}}">{{cat.CategoryName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                       </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Sub Category Name</label>
                                <input type="text" class="form-control" name="SubCategoryName" required>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Add Sub Category</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}