{% extends 'basic.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_category' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Edit Category</span></h5>
                        </div>
                       {% include 'messages.html' %}
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Customer Category Name</label>
                                <input type="text" class="form-control" name="CategoryName" value="{{cat.CategoryName}}" required>
                                <input type="text" class="form-control" name="CategoryID" value="{{cat.CategoryID}}" required hidden>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Update Category</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}