{% extends 'base.html' %}
{% load static %}
{% block Title %} Solution Engineer {% endblock Title %}



{% block body %}



    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="main content col-xl-12 col-lg-12">
            <div id="content-inner-page1">

              <h2 class="column-title mrt-0">Engineering</h2>

              <div class="row">
                <div class="col-md-12">
                  Tetra Tech services span the range from Plant Expansions, Plant Relocation, Plant Modification, Plant
                  Automation and Complete Turnkey Solution With over 20 years of experience in Serving the Process
                  Industry Tetra Tech Co. has the necessary skill set and experience to service the industry with their
                  knowledge and understanding
                </div><!-- col end -->
              </div><!-- 1st row end-->

              <!-- <div id="page-slider" class="page-slider align-self-center">
                <div class="item">
                  <img loading="lazy" class="img-fluid"
                    src="C:\Users\DELL\Downloads\web development python\website\Engineering.jpeg"
                    alt="Engineering3-slider-image" />
                </div>

                <div class="item">
                  <img loading="lazy" class="img-fluid"
                    src="C:\Users\DELL\Downloads\web development python\website\Plant Relocation.jpeg"
                    alt="Plant Relocation-slider-image" />
                </div>
                <div class="item">
                  <img loading="lazy" class="img-fluid"
                    src="C:\Users\DELL\Downloads\web development python\website\Engineering2.jpg"
                    alt="Engineering2-slider-image" />
                </div>
                <div class="item">
                  <img loading="lazy" class="img-fluid"
                    src="C:\Users\DELL\Downloads\web development python\website\Engineering3.jpg"
                    alt="Engineering-slider-image" />
                </div>
              </div> -->
              <!-- Page slider end -->
              <blockquote class="comp-pull-quote basic left-align">
                <div class="track">
                  <div class="text">
                    <p class="quote">Engineering research conducted by Tetratech process experts allows us to diagnose
                      complex problems and develop advanced solutions.</p>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>

          <div class="col-md-12 mt-5 mt-md-0">
            <h3 class="column-title-small">Further Services</h3>

            <div class="accordion accordion-group accordion-classic" id="construction-accordion">
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      ⦁ Planning New Plant
                    </button>
                  </h2>
                </div>



                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#construction-accordion">
                  <div class="card-body">
                    No matter whether you’re a newcomer or a sectoral expert – we have the specialists who can provide
                    the comprehensively can-do support you need for planning a new facility in terms of not only actual
                    production, but also filling, packaging, Automation Services & Material.

                    In closely responsive consultation with you, from a multiplicity of possible options, we select the
                    technologically and commercially most effective variant, handle the design and planning work, and
                    bring the project to a successful conclusion at your chosen location. Tetra Tech is not only the
                    consultant here, but also takes responsibility for executing the entire project.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      ⦁ Plant Expansion
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                  data-parent="#construction-accordion">
                  <div class="card-body">
                    Beyond the planning phase, if you are planning an expansion of your production facility we have
                    capability to support you in expanding your production plants. We steer your project from the
                    ground-breaking ceremony all the way through to successful commissioning, and also during the
                    product life-cycle. The experience gained from numerous complete factories built underpins our
                    corporate planning capabilities, and guarantees that the planning work involved is always based on
                    the very latest state of the art.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      ⦁ Plant Structural Planning
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                  data-parent="#construction-accordion">
                  <div class="card-body">
                    Your logistics are coming up against their capacity limits, your overall plant capabilities are no longer satisfactory, your processes are time- and cost-intensive, you lack the requisite flexibility, or you’re planning to buy new machines or lines? Then we will come to you, discuss your wishes on the spot, analyze the as-is situation, and acquire the data required for meaningful consultancy. With new data, we formulate possible alternatives, with the associated costings, for optimizing your processes in terms of both economy and ecology. We advise you on how you can carry out the proposed changes while retaining your delivery capabilities, and plan the appropriate implementation concepts. Checking the planned measures against the relevant key statistics is part of the job package, of course
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      ⦁ Turnkey Project
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                  data-parent="#construction-accordion">
                  <div class="card-body">

                  </div>
                </div>
              </div>
            </div>
            <!--/ Accordion end -->
          </div>

        </div><!-- Main row end -->
      </div><!-- Conatiner end -->
    </section><!-- Main container end -->



  {% endblock body %}

  {% block main-content %}
  
  {% endblock main-content %}