

{% extends 'base.html' %}
{% load static %}
{% block Title %} Solution Maintenance {% endblock Title %}



{% block body %}


    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="main content col-xl-12 col-lg-12">
            <div id="content-inner-page1">

              <h2 class="column-title mrt-0">Service & Maintaince</h2>

              <div class="row">
                <div class="col-md-12">
                  Tetra Tech's qualified service engineers and technicians. will take care of all the details during the
                  installation process. They provide prompt, on-site commissioning with both mechanical and electrical
                  support. Our technicians will train your operators to efficiently run the machinery and quickly
                  diagnose conditions and service the equipment that may cause downtime. We also work with you to
                  establish a preventative maintenance program to ensure the equipment remains in optimal condition.
                </div><!-- 1st row end-->

                <!-- <div id="page-slider" class="page-slider align-self-center">
                  <div class="item">
                    <img loading="lazy" class="img-fluid"
                      src="C:\Users\DELL\OneDrive\Documents\TetraTech\images\Single Solution\Maintaince-1.jpeg" width="1280" height="980"
                      alt="project-slider-image" />
                  </div>
                  <div class="item">
                    <img loading="lazy" class="img-fluid"
                      src="C:\Users\DELL\OneDrive\Documents\TetraTech\images\Single Solution\Maintaince-5.jpeg" width="1280" height="980"
                      alt="Maintaince" />
                  </div>
                  <div class="item">
                    <img loading="lazy" class="img-fluid"
                      src="C:\Users\DELL\OneDrive\Documents\TetraTech\images\Single Solution\maintaince-2.jpeg" width="1280" height="980"
                      alt="Maintaince" />
                  </div>
                  <div class="item">
                    <img loading="lazy" class="img-fluid" src="C:\Users\DELL\OneDrive\Documents\TetraTech\images\Single Solution\maintaince-3.jpeg" width="1280" height="980"
                      alt="Maintaince-slider-image" />
                  </div>
                </div> -->
                <blockquote class="comp-pull-quote basic left-align">
                  <div class="track">
                    <div class="text">
                      <p class="quote">Engineering research conducted by Tetratech process experts allows us to diagnose
                        complex problems and develop advanced solutions.</p>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>

            <div class="col-md-12 mt-5 mt-md-0">
              <h3 class="column-title-small">Further Services</h3>

              <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                <div class="card">
                  <div class="card-header p-0 bg-transparent" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ⦁ HEAT EXCHANGER SERVICE & TESTING
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#construction-accordion">
                    <div class="card-body">
                      With admittance to large numbers of the ventures driving plate or scratched surface intensity
                      exchangers, Tetra Tech has the capacities to assist with keeping a wide extent of hardware. New
                      plate packs, restreaming, and dye penetrant testing and analysis are all examples of maintenance
                      options. Dive deeper into our administration.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header p-0 bg-transparent" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ⦁ CIP SKID MAINTENANCE
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#construction-accordion">
                    <div class="card-body">
                      With admittance to large numbers of the ventures driving plate or scratched surface intensity
                      exchangers, Tetra Tech has the capacities to assist with keeping a wide extent of hardware. New
                      plate packs, restreaming, and dye penetrant testing and analysis are all examples of maintenance
                      options. Dive deeper into our administration.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header p-0 bg-transparent" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ⦁ PROCESS VALVE SERVICE & REPAIR
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#construction-accordion">
                    <div class="card-body">
                      With hundreds and thousands of valves working in a plant, they are at the core of your cycle
                      frameworks. Slowdowns, issues with quality, and safety concerns may occur if they are neglected.
                      What if you could significantly reduce these dangers and anticipate consistent and dependable
                      valve performance?

                      Making a normal timetable to survey possible issues before they emerge sets aside time and cash.
                      Tetra Tech manufacturing plant confirmed professionals work with your group to augment result and
                      keep your cycle streaming.
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Accordion end -->
            </div>

          </div><!-- Main row end -->
        </div><!-- Conatiner end -->
    </section>
    
    <!-- Main container end -->

{% endblock body %}

{% block main-content %}
    
{% endblock main-content %}

  