{% extends 'base.html' %}
{% load static %}
{% block Title %} Solution Fabrication {% endblock Title %}



{% block body %}

    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="main content col-xl-12 col-lg-12">
            <div id="content-inner-page1">

              <h2 class="column-title mrt-0">Fabrication</h2>

              <div class="row">
                <div class="col-md-12">
                  Our team at Tetra Tech has extensive experience and knowledge in working with these materials. By
                  doing so, customers are able to achieve exceptional results with their products. Utilizing high-end
                  machines, our Fabrication ensures that your products meet industrial standards.
                </div><!-- col end -->
              </div><!-- 1st row end-->

              <!-- <div id="page-slider" class="page-slider align-self-center">
                <div class="item">
                  <img loading="lazy" class="img-fluid"
                    src="C:\Users\DELL\Downloads\web development python\website\Fabrication2.jpeg"
                    alt="project-slider-image" />
                </div>
                <div class="item">
                  <img loading="lazy" class="img-fluid" src="C:\Users\DELL\Downloads\web development python\website\Fabrication1.JPG" alt="project-slider-image" />
                </div>
                <div class="item">
                  <img loading="lazy" class="img-fluid" src="C:\Users\DELL\Downloads\web development python\wetransfer_photos_2023-08-29_1105\Photo for website\Fabrication.JPG" alt="project-slider-image" />
                </div>

              </div> -->
              <!-- Page slider end -->
              <blockquote class="comp-pull-quote basic left-align">
                <div class="track">
                  <div class="text">
                    <p class="quote">For more than 20 years, Tetra Tech has conveyed client centered creation answers for move boards, utility boards, slides, custom fittings, valve manifolds — and the whole supplement of Tetra tech producing capacities.</p>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>

          <div class="col-md-12 mt-5 mt-md-0">
            <h3 class="column-title-small">Further Services</h3>

            <div class="accordion accordion-group accordion-classic" id="construction-accordion">
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Welding
                    </button>
                  </h2>
                  
                </div>



                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#construction-accordion">
                  <div class="card-body">
                    Stainless Steel is an area in which Tetra Tech welders have a high level of knowledge and experience. Each of these welders has been certified by an accredited organization to ensure that they meet the high quality and finishing requirements
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      ⦁ Machining
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                  data-parent="#construction-accordion">
                  <div class="card-body">
                    Tetra Tech's technicians ensure that your items meet industry standards reliably. We enjoy challenges at Tetra Tech. Custom machine parts are designed using a unique approach. Our team is ready to assist you with any challenge that you may have
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      ⦁ Cutting & Bending
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                  data-parent="#construction-accordion">
                  <div class="card-body">
                    With the aim to best satisfy every application requirement in house bending and cutting machines are available to in-house used together, allow the necessary processing for the production
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      ⦁ Standard & Tolerances
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                  data-parent="#construction-accordion">
                  <div class="card-body">
                    Tetra Tech adheres to the most recent industry benchmarks and understands industry guidelines, enabling us to provide components with the level of resilience you require
                  </div>
                </div>
              </div>
            </div>
            <!--/ Accordion end -->
          </div>

        </div><!-- Main row end -->
      </div><!-- Conatiner end -->
    </section><!-- Main container end -->


    {% endblock body %}

    {% block main-content %}
    
    {% endblock main-content %}