{% extends 'base.html' %}
{% load static %}
{% block Title %} Category {% endblock Title %}



{% block body %}

<div class="flex" style="display: flex;">
<section id="main-container" class="main-container" style="width: 30%;">
    <div class="col-md-6 offset-md-3 mb-4" style="max-width: none; width: 347px; margin-left: 37px; margin-bottom: -10px !important;">
        <form method="GET" action="{% url 'categoryproduct' subcat.pk %}">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Search products">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>

      <!-- <div class="cards" style="width: 20rem; border: 1px solid #dce2e9; margin-left: 50px; border-radius: 10px;">
        <div class="card-header" style="font-weight: bold;">
          Products
        </div>
        <ul class="list-group list-group-flush">
          {% for subcategory in subcategories %}
          <li class="list-group-item">
            <a href="{% url 'categoryproduct' subcategory.SubCategoryID %}">{{ subcategory.SubCategoryName }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <br> -->

      <div class="cards" style="width: 20rem; border: 1px solid #dce2e9; margin-left: 50px; border-radius: 10px;">
        <div class="card-header" style="font-weight: bold;">
          Products
        </div>
        <ul class="list-group list-group-flush">
          {% for category in categories %}
          <li class="list-group-item">
            <a href="{% url 'categoryproduct' category.CategoryID %}">{{ category.CategoryName }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <br>

      <!-- now  -->

      

      <!-- now end  -->

      <!-- <div class="accordion" id="accordionExample">
        <div class="cards">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Accordion Item 1
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="nested">
                <li>Nested Accordion Item 1</li>
                <li>Nested Accordion Item 2</li>
                <li>Nested Accordion Item 3</li>
              </ul>
            </div>
          </div>
        </div>
      
        <div class="cards">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item 2
              </button>
            </h5>
          </div>
      
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="nested">
                <li>Nested Accordion Item 4</li>
                <li>Nested Accordion Item 5</li>
                <li>Nested Accordion Item 6</li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
      
      <!-- <div class="accordion" id="accordionExample">
        {% for subcategory in subcategories %}
        {% if subcategory.Category == category %}
            <div class="cards">
                <div class="card-header" id="heading{{ accordion_item.category_name }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ accordion_item.category_name }}" aria-expanded="false" aria-controls="collapse{{ accordion_item.category_name }}">
                            {{ subcategory.SubCategoryName }}
                        </button>
                    </h5>
                </div>

                <div id="collapse{{ accordion_item.category_name }}" class="collapse" aria-labelledby="heading{{ accordion_item.category_name }}" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="nested">
                            {% for subcategory in accordion_item.subcategories %}
                                <li>{{ subcategory.SubCategoryName }}</li>
                            {% endfor %}

                            {% for product in accordion_item.products %}
                                <li>
                                    {{ product.ProductName }}
                                    {% if product.subproduct_set.all %}
                                        <ul class="nested">
                                            {% for subproduct in product.subproduct_set.all %}
                                                <li>{{ subproduct.SubProductName }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
      </div> -->

      <!-- <div class="categories">
        {% for category in categories %}
          <div class="category">
            <h5>{{ category.CategoryName }}</h5>
            <ul class="products">
              {% for subcategory in subcategories %}
                {% if subcategory.Category == category %}
                  {% for product in subcategory.product_set.all %}
                    <li>
                      <a href="{% url 'product-sub-product' product.ProductID %}">{{ product.ProductName }}</a>
                    </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div> -->


      <div class="accordion" id="accordionExample" style="width: 325px; margin-left: 48px;">
        <div class="cards">
          <div class="card-header" id="heading">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                Solutions
              </button>
            </h2>
          </div>
          <div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
            <div class="card-body">
              <div class="categories">
                {% for subcategory in subcategories %}
                  <div class="category">
                    <h5>{{ subcategory.SubCategoryName }}</h5>
                    <ul class="products">
                      {% for product in subcategory.product_set.all %}
                        <li>
                          <a href="{% url 'product-sub-product' product.ProductID %}">{{ product.ProductName }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      






      
      

</section>

<section id="main-container" class="main-container pb-2" style="width: 70%;">
    <div class="container">
      <div class="row">
        {% for val in title %} {% endfor %}   
  
              
        {% for pd  in prod  %}
            <div class="col-lg-4  col-md-6 mb-5">
            <div class="ts-service-box">
               <!-- <div class="ts-service-image-wrapper"> -->
                <!--    <img loading="lazy" class="w-100" src="{% static 'app/images/services/service1.jpg' %}" alt="service-image"> -->
                <!--</div> -->

                <div class="d-flex">
                  
                        <div class="ts-service-box-img amd-processor">
                               
                                <h3 class=" text-center service-box-title ">  {{pd.ProductName}}  </h3> </br>                                   
                                <a href="{% url 'product-detail' pd.ProductID %}" class="btn"> <img src="{{pd.ProductImage.url}}" width="300px" height="200px">   </a>                                                
                           
                              <!--  <img loading="lazy" src=" {% static 'app/images/icon-image/service-icon1.png' %}" alt="service-icon">-->
                            
                                <div class="ts-service-info">
                                    <h3 class="service-box-title">
                                    <!-- {% for val in title %}
                                    <a href="#">{{val.title}}</a>
                                    {% endfor %}-->
                                    </h3>
                                   <p style="font-weight: bold;"> {{pd.Description|slice:":30"}}...</br></p> <!---->
                                  <!--  <p> {{prod.composition}} </br></p> -->                                  
                                    <!-- <a class="learn-more d-inline-block" href="" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a> -->
                                </div>
                        </div>
                 
                    
                </div>
            </div><!-- Service1 end -->
          
        </div><!-- Col 1 end -->
        {% endfor %}
        </div>
    </div>
</section>
</div>

{% endblock body %}

{% block main-content %}

{% endblock main-content %}
