{% extends 'basic.html' %} {% block content %}

<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Product Details</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Product Details</li>
        </ul>
      </div>
      <div class="col-auto text-right float-right ml-auto">
        <a href="{% url 'add_productdetail' %}" class="btn btn-primary"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </div>
  </div>
  {% include 'messages.html' %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive table-bordered">
            <table id="table_id" class="table table-hover table-center mb-0">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Field1</th>
                  <th>Field2</th>
                  <th>Field3</th>
                  <th>Field4</th>
                  <th>Field5</th>
                  <th>Description</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for pdet in prodetails %}
                <tr>
                  <td>{{pdet.Product}}</td>
                  <td>{{pdet.Field1}}</td>
                  <td>{{pdet.Field2}}</td>
                  <td>{{pdet.Field3}}</td>
                  <td>{{pdet.Field4}}</td>
                  <td>{{pdet.Field5}}</td>
                  <td>{{pdet.Description}}</td>
                  <td class="text-right">
                    <div class="actions">
                      <a href="{% url 'edit_productdetail' pdet.ProductDetailID %}"class="btn btn-sm bg-success-light mr-2" id="text">
                        <i class="fas fa-pen"></i>
                      </a>
                      <a href="{% url 'delete_productdetail' pdet.ProductDetailID %}" class="btn btn-sm bg-danger-light">
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
