{% extends 'basic.html' %} {% block content %}

<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Sliders </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Sliders</li>
        </ul>
      </div>
      <div class="col-auto text-right float-right ml-auto">
        <a href="{% url 'add_sliders' %}" class="btn btn-primary"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </div>
  </div>
  {% include 'messages.html' %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive table-bordered">
            <table id="table_id" class="table table-hover table-center mb-0">
              <thead>
                <tr>
                    <th>First Heading</th>
                    <th>Second Heading</th>
                    <th>First Link</th>
                    <th>Second Link</th>
                    <th>Slider Image</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for sd in sliders %}
                <tr>
                    <td>{{ sd.HeadOne }}</td>
                    <td>{{ sd.HeadTwo }}</td>
                    <td>{{ sd.LinkOne }}</td>
                    <td>{{ sd.LinkTwo }}</td>

                    <td>
                        {% if sd.Image %}
                            <img class="avatar-img" src="{{ sd.Image.url }}" alt="{{ sd.Image }}" width="100">
                        {% else %}
                            No image available
                        {% endif %}
                    </td>
                  <td class="text-right">
                    <div class="actions">
                      <a href="{% url 'edit_sliders' sd.SiderID %}"class="btn btn-sm bg-success-light mr-2" id="text">
                        <i class="fas fa-pen"></i>
                      </a>
                      <a href="{% url 'delete_sliders' sd.SiderID %}" class="btn btn-sm bg-danger-light">
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
